<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="63879AndreasFahey.370935161FE88" Publisher="CN=9492304A-D1A8-4906-9E87-2F4418A4C30D" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="76026b72-a08d-49fb-9684-a69c2be6c267" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>My Little Calculator</DisplayName>
    <PublisherDisplayName>AndreasFahey</PublisherDisplayName>
    <Logo>Assets/mylittlecalculator (5).png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyLittleCalculator.App">
      <uap:VisualElements DisplayName="My Little Calculator" Square150x150Logo="Assets/mylittlecalculator (1).png" Square44x44Logo="Assets/mylittlecalculator (4).png" Description="MyLittleCalculator" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets/mylittlecalculator (7).png" />
        <uap:DefaultTile Wide310x150Logo="Assets/mylittlecalculator (3).png" Square310x310Logo="Assets/mylittlecalculator (2).png" Square71x71Logo="Assets/mylittlecalculator (6).png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>